<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-tablet.css">
    <link rel="stylesheet" href="/css/styles-desktop.css">
    <link rel="stylesheet" href="/css/loginstyle.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" alt="logo" class="logo">
            <p></p>
            <h2 class="compra-cuotas"> 
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="main-header-bottom-bar">
            <ul id="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul id="right-navbar">
                <li><a href=""> Creá tu cuenta </a><i class="fas fa-file-invoice"></i></li>
                <li><a href="">Ingresá </a><i class="fas fa-hand-point-right"></i></li>
                <li><a href="">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>           
    </header>
<main>
    <form class="login-form" action="resultado2.html" method="post">
        <div class="contenedores-login">
            <label for="login-usuario"></label>
            <input class="login-completar-datos1" type="text" name="login-usuario" id="login-usuario" value="Nombre de usuario">
        </div>
        <div class="contenedores-login">
            <label for="apellido"></label>
            <input class="login-completar-datos1" type="text" name="apellido" id="apellido" value="Elegí tu contraseña">
        </div>
        <div class="contenedores-login">
            <button class="login-boton" type="submit">Enviar</button>
        </div>
    </form>
</main>
<footer>
    <section class="footer-section">
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
    </section>
    <section class="footer-section">
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
    </section>
    <section class="footer-section">
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
    </section>
    <section class="copyright-section"><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></section>
</footer>
</body>
</html>